<p>
    Directives are basically components with out a View. They allow to add behaviour to elements. 
    There are three types of Directives
    <br /><br /><br />
    Take a look at sample directive here :
</p>
<h3 firstDirective></h3>
<div class="vertical-menu">
    <a [routerLink]="['structural']" class="active">Structural Directives</a>
    <a [routerLink]="['attribute']">Attribute Directives</a>
    <a [routerLink]="['']">Component Directives</a>
</div>

<div>
    <router-outlet></router-outlet>
</div>
