<!--The content below is only a placeholder and can be replaced.-->
<div>
  <ul class="hMenu" *ngIf="authService.isAuthenticated()">
    <li><a class="active" [routerLink]="'/home'">Home</a></li>
    <li><a [routerLink]="'/components'">Components</a></li>
    <li><a [routerLink]="'/forms'">Forms</a></li>
    <li><a [routerLink]="'/directives'">Directives</a></li>
    <li><a [routerLink]="'/pipes'">Pipes</a></li> 
    
    <li style="float: right"><a [routerLink]="'/user'">User</a></li>
  </ul>
  <ul class="hMenu" *ngIf="!authService.isAuthenticated()">
    <li style="float: right" ><a [routerLink]="'/login'">Login</a></li>
  </ul>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
</div>

<router-outlet></router-outlet>