<p> Pipes help to transform data from one format to another format
    There are two types of Pipes </p>

    <ol>
        <li>
            In Built Pipes
        </li>
        <li>
            Custom Pipes
        </li>
    </ol>

    <p>
        An example of Built-In pipe is <br />
        Today's Date is  {{date}} <br />
        After applying pipe Date is {{date | date:'shortDate'}}
    </p>
<p>
    With in Custom pipes, there are two categories 
</p>
<ol>
    <li> <a [routerLink]="['pure']"> Pure </a> </li>
    <li> <a [routerLink]="['impure']"> Impure </a></li>
</ol>

<router-outlet>

</router-outlet>

